@if (UserRuntimeContext.CheckUserLogin())
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img alt="Blog" src="~/Image/duolaAmeng.jpg" style="width: 20px; height: 20px;" />
                <span>@UserRuntimeContext.CurrentUser.NickName</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">修改个人信息</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Account" asp-action="LogOut">登出</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Login">登录</a></li>
        <li><a asp-controller="Register">注册</a></li>
    </ul>
}
