.topic-Main {
    position: relative;
}

.topicItem {
    background-color: white;
    padding: 16px 20px;
    -webkit-box-shadow: 0 1px 3px #000000;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    margin-top: 20px;
    position: relative;
}

.topicItem-title {
}

.topicItem-authorInfo {
}

.topicItem-contentItem {
    height: 250px;
    overflow: hidden;
}
.topicItem-action { }
