body {
    padding-top: 50px;
    background-color: #f3f3f3;
}

.header {
    background-color: white;
}

.row {
    padding-top: 30px;
}

.card {
    background-color: white;
    padding: 16px 20px;
    -webkit-box-shadow: 0 1px 3px #000000;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    margin: 20px 0px;
}