@model SBear.Web.ViewModels.HomeViewModel.HomeSideBarViewModel
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">分类</h3>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.ArticleType)
        {
            <p>
                @item.BlogArticleType.TypeName  （@item.Count）
            </p>
        }
</div>
</div>
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">点击排行</h3>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.HotArticle)
        {
            <p>@item.Title</p>
        }
    </div>
</div>
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">关于博客</h3>
    </div>
    <div class="panel-body">
        GitHub：
        <a href="https://github.com/xiongxy/SBearBlog" target="_blank">
            SBearBlog
        </a><br />
        当前服务器时间：
        <br />
        @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
        <br />
        访客记录：@Model.VisitorLogCount
    </div>
</div>