@model int
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">.NET Core Blog</h3>
    </div>
    <div class="panel-body">
        GitHub：
        <a href="https://github.com/xiongxy/SBearBlog" target="_blank">
            SBearBlog
        </a><br />
        当前服务器时间：
        <br />
        @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
        <br />
        访客记录：@Model
    </div>
</div>