@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Index.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <span>提问</span>
            <span>回答</span>
            <span>写文章</span>
            <span>写想法</span>
        </div>
        <div class="topic-Main">
            <div class="topicItem">
                <div class="topicItem-title">
                    <h4>h2. Bootstrap heading</h4>
                </div>
                <div class="topicItem-authorInfo">
                    <h4>h2. Bootstrap heading</h4>
                </div>
                <div class="topicItem-contentItem">
                    <h6>h6. Bootstrap heading</h6>
                </div>
            </div>
            <div class="topicItem">
                <div class="topicItem-title">
                    <h4>h2. Bootstrap heading</h4>
                </div>
                <div class="topicItem-authorInfo">
                    <h4>h2. Bootstrap heading</h4>
                </div>
                <div class="topicItem-contentItem">
                    <h6>h6. Bootstrap heading</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">.col-md-3</div>
</div>