@using System.Diagnostics
@{
    ViewData["Title"] = "Home Page";
    var list = ViewBag.Articles as List<BlogArticleDto>;
}
<link href="~/css/Index.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-9">
        @await Component.InvokeAsync("HomeCard")
        <div class="topic-Main">
            @{
                Debug.Assert(list != null, nameof(list) + " != null");
            }
            @foreach (var item in list)
            {
                <div class="topicItem">
                    <div class="topicItem-title">
                        <h4>@item.Title</h4>
                    </div>
                    <div class="topicItem-authorInfo">
                        <h4>@item.CreateBy</h4>
                    </div>
                    <div class="topicItem-contentItem">
                        @Html.Raw(item.HTMLContent)
                    </div>
                    <div class="topicItem-action">
                        <h4>@item.CreateDate</h4>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("HomeSideBar")
    </div>
</div>