@model CardViewModel
@switch (Model.CardAciotnType)
{
    case SBear.Web.ViewComponents.Home.CardAciotnTypeEnum.HomeIndex:
        if (UserRuntimeContext.CheckUserLogin())
        {
            <div class="card">
                <a href="@Url.Action("Index","WriteArticle")">
                    <img src="~/Image/edit.svg" style="width:16px;height:16px;" /> 写文章
                </a>
                <a href="@Url.Action("Index","ArticleType")">
                    <img src="~/Image/Category.svg" style="width:16px;height:16px;" />管理分类
                </a>
            </div>
        }
        break;
    case SBear.Web.ViewComponents.Home.CardAciotnTypeEnum.AtricleEdit:
        if (UserRuntimeContext.CheckUserLogin())
        {
            <div class="card">
                @Html.ActionLink("修改", Model.ArticleIdentityId.ToString(), "WriteArticle")
            </div>
        }
        break;
    case SBear.Web.ViewComponents.Home.CardAciotnTypeEnum.HomeSearch:
        <div class="card">
            <h5>当前搜索到: @Model.SearchCount 条记录</h5>
        </div>
        break;
    default:
        break;
}
