@model CardViewModel
@switch (Model.AciotnType)
{
    case SBear.Web.ViewComponents.Home.AciotnType.Home:
        if (UserRuntimeContext.CheckUserLogin())
        {
            <div class="card">
                @Html.ActionLink("写文章", "Index", "WriteArticle")
            </div>
        }
        break;
    case SBear.Web.ViewComponents.Home.AciotnType.Edit:
        if (UserRuntimeContext.CheckUserLogin())
        {
            <div class="card">
                @Html.ActionLink("修改", Model.ArticleIdentityId.ToString(), "WriteArticle")
            </div>
        }
        break;
    default:
        break;
}
