<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SBear Blog</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="header navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img alt="SBear Blog" src="~/Image/duolaAmeng.jpg" style="width: 20px; height: 20px;" />
                </a>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SBear Blog</a>
            </div>
            @await Component.InvokeAsync("LoginStatusBar")
            <form class="navbar-form navbar-right" asp-controller="Search" asp-action="Index" method="get" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="key" placeholder="请输入搜索内容...">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        @RenderBody()
    </div>
    <footer class="navbar-fixed-bottom text-center">
        <div class="container">
            <p><a href="https://github.com/xiongxy/SBearBlog" target="_blank">SBear</a>&copy; 2017 - SBear</p>
        </div>
    </footer>
    @RenderSection("Script", required: false)
</body>
</html>
